# Python cache and temporary files
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data cache
data/**/*.pkl
data/**/*.csv
data/**/*.npy
